<key>NSLocationWhenInUseUsageDescription</key>
<string>Necesitamos acceso a tu ubicación para mostrarla en el mapa</string>

<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Necesitamos acceso a tu ubicación para mostrarla en el mapa</string>

<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>

<key>CFBundleLocalizations</key>
<array>
    <string>es</string>
    <string>en</string>
</array>

<key>CFBundleDevelopmentRegion</key>
<string>es</string> 