<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.myapp.refresh</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
		<string>en</string>
	</array>
	<key>FirebaseAnalyticsDebugEnabled</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>WhatsNewInThisVersion</key>
	<dict>
		<key>en</key>
		<string>Initial release of QGS:
- Employee check-in/check-out functionality
- GPS location tracking
- Daily and weekly hours summary
- Improved user interface and experience</string>
		<key>es</key>
		<string>Lanzamiento inicial de QGS:
- Funcionalidad de entrada/salida para empleados
- Seguimiento de ubicación GPS
- Resumen de horas diarias y semanales
- Mejora en la interfaz y experiencia de usuario</string>
	</dict>
    <key>aps-environment</key>
    <string>development</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9818954671091924~7058815055</string>
	<key>CFBundleIdentifier</key>
	<string>com.friendly.checkinout</string>
	<key>API_BASE_URL</key>
	<string>https://api.friendlypayroll.net/api</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>friendly-project</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a tu cámara para que puedas tomar fotos para tu perfil o documentos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos acceso a tu ubicación para registrar correctamente tus entradas y salidas.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesitamos acceso a tu ubicación para registrar correctamente tus entradas y salidas incluso cuando la aplicación está en segundo plano.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Esta aplicación necesita acceso al micrófono para grabar notas de voz.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu biblioteca de fotos para que puedas seleccionar imágenes para tu perfil o documentos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Esta aplicación necesita acceso a tus contactos para facilitar la comunicación con los empleados.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu calendario para programar eventos relacionados con los empleados.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Esta aplicación utiliza Face ID para una autenticación segura.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
