<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La aplicación necesita acceso a tu ubicación para registrar tu entrada/salida</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>La aplicación necesita acceso a tu ubicación para registrar tu entrada/salida</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>WhatsNewInThisVersion</key>
	<dict>
		<key>en</key>
		<string>Initial release of QGS:
- Employee check-in/check-out functionality
- GPS location tracking
- Daily and weekly hours summary
- Improved user interface and experience</string>
		<key>es</key>
		<string>Lanzamiento inicial de QGS:
- Funcionalidad de entrada/salida para empleados
- Seguimiento de ubicación GPS
- Resumen de horas diarias y semanales
- Mejora en la interfaz y experiencia de usuario</string>
	</dict>
</dict>
</plist>
